html
	include ../templates/header.jade
block body
	.container
		if data && data.error
			.row
				.alert.alert-danger= data.error
		form(method='post')
			mixin bfield('text', 'username', 'Username')
			mixin bfield('password', 'password', 'Password')
			.form-group
				input.btn.btn-primary(type='submit', value='Login')


